<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Choose Your Content and Format</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Form</h1>
    <form action="#" th:action="@{/multiformat}" th:object="${input}" method="post">
        
        Type: 
        <select id="type" th:field="*{type}">
            <option value="Story">Story</option>
            <option value="User">User</option>
        </select>
        Format: 
        <select id="format" th:field="*{format}">
            <option value="Json">JSON</option>
            <option value="Csv">CSV</option>
            <option value="Xml">XML</option>
            <option value="Html">HTML</option>
        </select>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>